@font-face{
  font-family: 'cow';
  src: url(happycow.ttf)
}


body, html {
margin: 0 auto;
max-width: 800px;
min-width: 500px;

}
img {

  border: 1px solid red;
  height: 150px;
  width: 150px;
  margin: 20px;
}
.card {
  width: 100%;
  height: auto;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

card.is-flipped {
  transform: rotateY(180deg);
}

.bg {
width: 100%;
top: 0px;
background-image: url("./img/bakground.jpg");
height: 100%; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.titel{
margin: 0%;
padding-top: 2%;
font-size: 4.5em;
font-family: 'cow';
text-align: center;
color: #fff;
}

