@font-face{
  font-family: 'cow';
  src: url(happycow.ttf)
}


body, html {
height: 100%;
margin: 0 auto;
max-width: 800px;
min-width: 500px;

}
#container {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
 perspective: 1000px;
}
section {
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
 transition: transform .5s;
}

.style {
  background-image: url("./img/back_side.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  display: flex;
  float: left;
  border: 1px solid red;
  height: 150px;
  width: 150px;
  margin: 20px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  transform: scale(1);
  backface-visibility: hidden;
}


img:active{
  transform: scale(.95);
  transition: transform 0.7s;
}
.flip {
  transform: rotateY(180deg);
}

.bg {
width: 100%;
top: 0px;
background-image: url("./img/bakground.jpg");
height: 100%; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.titel{
margin: 0%;
padding-top: 2%;
font-size: 4.5em;
font-family: 'cow';
text-align: center;
color: #fff;
}

