
.grid-container {
    display: grid;
  }

@font-face{
    font-family: 'my';
    src: url(/happycow.ttf)
}
body{
    background: green;
}

div {

    background-color: #ffffff80;

    padding: 1% 1% 1% 1%;
    font-family: 'my';
    margin: 1%;
    text-align: center;

}